:root {
    --bg-color: rgb(24, 9, 16);
    --bg-color-dark: rgb(10, 2, 9);
    --font-color: rgb(255, 208, 208);
    --accent: rgb(148, 45, 79);
    --accent-dark: rgb(102, 22, 69);
    --accent-bright: rgb(255, 69, 131);
    --accent-brighter: rgb(255, 137, 202);
}